.form {
  display: grid;
  grid-template-columns: 170px 170px 170px 170px;
  align-items: center;
  width: 100%;
  background: $main-color;
  padding-bottom: 10px;

  &__id {
    display: none;
  }

  &__field {
    position: relative;
    padding: 10px;
  }

  &__btn {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
  }
}

.input {
  height: 20px;
  border: none;
}

.error {
  color: red;
  position: absolute;
  left: 15px;
  top: 30px;
}
